html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: x-large;
    text-align: center;
    background-image: linear-gradient(blue, white);
    color: white;
}

a {
    color: rgb(255, 255, 255);

}

form {
    margin: auto;
    border: 5px solid white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}

ul {
    list-style: none;
}

button {
    color: white;
    background-color: pink;
    border: 1px solid white
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    justify-content: center;
    box-shadow: 3px 3px 15px;
}

img:hover {
    border: 5px solid black;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
    margin: auto;
    font-size: x-large;
}

tr:hover {
    background-color: rgb(255, 0, 0);
}